<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @url.origin %>
</p>

<p>
  <strong>Short:</strong>
  <%= @url.short %>
</p>

<p>
  <strong>Infos:</strong>
  <%= @url.infos %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
