<p id="notice"><%= notice %></p>

<p>
  <strong>Short:</strong>
  <a href="<%= @url.origin %>" target="_blank"><%= @url.short %></a>
</p>

<p>
  <strong>Origin:</strong>
  <%= @url.origin %>
</p>

<p>
  <strong>Infos IP:</strong>
  <%= @url.infos[:ip] %>
</p>

<p>
  <strong>Infos Location:</strong>
  <%= @url.location %>
</p>
<p>
  <strong>Infos Browser:</strong>
  <%= @url.browser_name %>
</p>
<p>
  <strong>Infos Platform:</strong>
  <%= @url.browser_platform %>
</p>

<p>
  <strong>Infos UA:</strong>
  <%= @url.infos[:ua] %>
</p>

<%= link_to 'Create', new_url_path %>
