<p id="notice"><%= notice %></p>

<p>
  <strong>Short:</strong>
  <a href="<%= @url.origin %>" target="_blank"><%= "#{root_url(:only_path => false)}#{@url.short}" %></a>
</p>

<p>
  <strong>Origin:</strong>
  <%= @url.origin %>
</p>

<h2>Info</h2>
<% if @url.infos.present? %>
    <% @url.infos.each do |info| %>
        <p>
          <strong>Infos IP:</strong>
          <%= info.raw[:ip] %>
        </p>

        <p>
          <strong>Infos Location:</strong>
          <%= info.location %>
        </p>
        <p>
          <strong>Infos Browser:</strong>
          <%= info.browser_name %>
        </p>
        <p>
          <strong>Infos Platform:</strong>
          <%= info.browser_platform %>
        </p>

        <p>
          <strong>Infos UA:</strong>
          <%= info.raw[:ua] %>
        </p>
        <p>------------------------------------</p><br/>
    <% end %>

<% else %>
    <p> ---------- empty ---------</p>
    <br/>
<% end %>
<%= link_to 'Create', new_url_path %>
